
body, html{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 50px;
}
em{
    border-bottom: 3px solid #99E2D0;
}
.logo span{
    font-size: x-large;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: italic;
}
a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 15px;
    color: black;
}
.header{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.header__logo{
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
}
.header__arrow {
    position: absolute;
    left: 5%;
    height: 2rem;
    width: 2rem;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
}
.heroImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    height: 375px;
}
.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
}
.menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu__title {
    font-family: "Shrikhand", "cursive";
}
.menu__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;
}
.menu__btn:hover::before {
    opacity: 1;
}
.menu__btn::before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg);
}
.menu__like {
    transition-duration: 0.25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--noBg {
    opacity: 0;
}
.menu__btn:hover .menu__like--Bg {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.submenus {
    width: 100%;

}

.submenu {
    max-width: 100%;
    overflow: hidden;
    animation-name: showing;
    width: 95%;
    padding: 0 12px;
}
.submenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;
}
.submenu__title::after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: color-tertiary;
    position: absolute;
    left: 0;
    bottom: 0;
}
.menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}
.menuItem__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}
.menuItem__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menuItem__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menuItem__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}
.menuItem__confirmation {
    background-color: color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    background: #99E2D0;
}
.menuItem:hover .menuItem__confirmation {
    margin-right: -1rem;
}
.menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
}
.commandBtn{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border: none;
    color: white;
    width: 375px;
    height: 50px;
    border-radius: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 4px 10px 0px #00000040;    
}
.commandBtn:hover{
    box-shadow: 1px 1px 10px 1px #00000040;
    filter: brightness(120%);
    transition: 1s;
}
.menuItem:hover .menuItem__wrapIcon {
    transform: rotate(0);
}
.menuItem__icon {
    color: color-tertiary;
}
.delay-0 {
    animation-delay: 0s;
}
.delay-1 {
    animation-delay: 0.1s;
}
.delay-2 {
    animation-delay: 0.2s;
}
.delay-3 {
    animation-delay: 0.3s;
}
.delay-4 {
    animation-delay: 0.4s;
}
.delay-5 {
    animation-delay: 0.5s;
}
.delay-6 {
    animation-delay: 0.6s;
}
.delay-7 {
    animation-delay: 0.7s;
}
.delay-8 {
    animation-delay: 0.8s;
}
.time1{
    animation-duration: 2s;
}
.time2{
    animation-duration: 3s;
}
.time3{
    animation-duration: 4s;
}
.wrapBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}
#liked3{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
}

#liked3:checked + label .ZU{
    opacity: 0;
    transition: 0.5s;
}

.ZU{
    position: absolute;
    right: 20%;
    top: 45%;
    font-size: x-large;
    background-color: #f6f6f6;
    z-index: 10;
}
.ZD{
    position: absolute;
    right: 20%;
    top: 45%;
    font-size: x-large;
    z-index: 9;
    display: inline-block;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.foot{
    width: 100%;
    background-color:   #353535;
}
.foot .logo{
    color: white;
    justify-content: start;
    padding-top: 20px;
    box-shadow: none;
    width: auto;
}
.foot-slice{
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}
.foot-slice p{
    margin: 5px;
}
@media(min-width:768px){
    .ZU{
        right: -2%;
        top: 45%;
    }
    .ZD{
        right: -2%;
        top: 45%;
    }
    .menu{
        padding-left: 10%;
        padding-right: 10%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foot-flex{
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: center;
        padding-top: 20px;
    }
    .foot .logo{
        padding-top: 0;
        padding-right: 20px;
    }
}
@keyframes showing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}